node_modules
.env
debug.log
# the below file shows the env vars used in heroku. some might be unused, and some may be from heroku add-ons
what-used-to-be-in-heroku.png

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage
coverage

# production
client/build
build

# misc
.DS_Store
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/debug.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/src/components/MaskBar
client/src/components/UploadToCloudinary
.vs

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

client/.env


# Ignore all contents from the following directories
client/
client_bk
client2
db
db_bk
0temp-storage
routes
logs
utils
!frontend/utils/
!frontend/utils/*
controllers/*
!controllers/error/
!controllers/error/error.js
.vscode
sample.txt
