node_modules
.env
debug.log
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage
coverage

# production
client/build
build

# misc
.DS_Store
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/debug.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/src/components/MaskBar
client/src/components/UploadToCloudinary
